@font-face {
	font-family: FontAwesome;
	src: url(fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/fontawesome-webfont.woff) format("woff"), url(fonts/fontawesome-webfont.ttf) format("truetype"), url(fonts/fontawesome-webfont.svg#FontAwesomeRegular) format("svg");
	font-weight: normal;
	font-style: normal;
}
html {
	background: url("images/checker.png") fixed rgb(108, 121, 137);
}
body {
	font: 300 14px/1.5 "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif; margin: 0px; padding: 50px 0px; color: rgb(85, 85, 85); font-size-adjust: none; font-stretch: normal;
}
.wrapper {
	background: rgb(222, 222, 222); margin: 0px auto; border-radius: 8px; width: 680px; box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2), 0px 3px 10px rgba(0,0,0,0.45); -webkit-border-radius: 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}
header {
	display: block;
}
section {
	display: block;
}
footer {
	display: block;
}
a {
	color: rgb(0, 102, 153); text-decoration: none;
}
p {
	margin: 0px 0px 20px; padding: 0px;
}
strong {
	color: rgb(34, 34, 34); font-weight: 700;
}
.content {
	background: linear-gradient(rgb(250, 250, 250), rgb(222, 222, 222) 700px); border-radius: 0px 0px 8px 8px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; -webkit-border-radius: 0 0 8px 8px;
}
.clearfix {
	-ms-zoom: 1;
}
.clearfix::before {
	display: table; content: "";
}
.clearfix::after {
	display: table; content: "";
}
.clearfix::after {
	clear: both;
}
#header {
	background: linear-gradient(rgb(221, 251, 252), rgb(198, 234, 250)) rgb(198, 234, 250); padding: 15px 30px; border-radius: 8px 8px 0px 0px; border-bottom-color: rgb(178, 210, 225); border-bottom-width: 1px; border-bottom-style: solid; position: relative; -webkit-border-radius: 8px 8px 0 0;
}
#header .title {
	float: left;
}
#header .nav {
	line-height: 2.5em; font-family: "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif; float: right;
}
#header .nav ul {
	list-style: none;
}
#header .nav ul li {
	margin-left: 26px; float: left;
}
#header h1 {
	margin: 0px; padding: 0px; color: rgb(0, 102, 153); line-height: 1.2; font-size: 24px; font-weight: normal; text-shadow: 0px 1px 0px rgba(255,255,255,0.9);
}
.without-description#header h1 {
	margin: 10px 0px;
}
#header p {
	margin: 0px; width: 300px; color: rgb(97, 119, 139); font-size: 13px; font-style: italic;
}
article {
	padding: 15px 30px; font-size: 15px; position: relative;
}
article.page .icon {
	display: none;
}
article.post .icon::before {
	content: "\f016";
}
article.photo .icon::before {
	content: "\f030";
}
article.link .icon::before {
	content: "\f0c1";
}
article .gallery {
	margin: 0px -30px 16px; overflow: hidden; position: relative;
}
article .gallery:hover .control {
	filter: none; opacity: 1;
}
article .gallery:hover img {
	transition:0.8s; transform: scale(1.1); -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s;
}
@media screen and (max-width:580px)
{
article .gallery:hover img {
	transition:none; transform: none; -webkit-transform: none; -moz-transform: none; -o-transform: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
}
article .gallery img {
	transition:0.8s; left: 0px; top: 0px; height: auto; position: absolute; min-width: 100%; max-width: 100%; opacity: 0; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s;
}
article .gallery .control {
	transition:0.3s; opacity: 0; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s;
}
article .gallery .prev {
	top: 0px; width: 50%; height: 100%; position: absolute; cursor: pointer;
}
article .gallery .next {
	top: 0px; width: 50%; height: 100%; position: absolute; cursor: pointer;
}
article .gallery .prev::before {
	font: 24px FontAwesome; top: 50%; width: 24px; text-align: center; color: rgb(255, 255, 255); margin-top: -12px; position: absolute; font-size-adjust: none; font-stretch: normal; text-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
article .gallery .next::before {
	font: 24px FontAwesome; top: 50%; width: 24px; text-align: center; color: rgb(255, 255, 255); margin-top: -12px; position: absolute; font-size-adjust: none; font-stretch: normal; text-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
article .gallery .prev {
	left: 0px;
}
article .gallery .prev::before {
	left: 10px; content: "\f053";
}
article .gallery .next {
	right: 0px;
}
article .gallery .next::before {
	right: 10px; content: "\f054";
}
article header {
	background: none; padding: 0px; border-radius: 0px; margin-bottom: 10px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; position: relative; -webkit-border-radius: 0;
}
article header .icon {
	background: rgb(0, 102, 153); border-radius: 100em; left: 0px; top: 0px; width: 32px; height: 32px; color: rgb(255, 255, 255); margin-left: -46px; position: absolute; box-shadow: 0px 0px 4px rgba(0,0,0,0.4); -webkit-border-radius: 100em; -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width:600px)
{
article header .icon {
	display: none;
}
}
article header .icon::before {
	font: 24px/normal FontAwesome; left: 0px; top: 6px; width: 32px; text-align: center; position: absolute; font-size-adjust: none; font-stretch: normal;
}
article header time {
	font: 0.9em "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif; margin-bottom: 5px; display: block; font-size-adjust: none; font-stretch: normal;
}
article header .title {
	margin: 0px; padding: 0px; line-height: 1.2; font-size: 24px; font-weight: normal; text-shadow: 0px 1px 0px rgba(255,255,255,0.9);
}
article header .title a {
	color: rgb(34, 34, 34);
}
article header .title a:hover {
	color: rgb(0, 102, 153);
}
article .entry {
	text-align: justify; line-height: 1.6;
}
article .entry h1 {
	margin: 0px 0px 20px; padding: 0px; color: rgb(34, 34, 34); line-height: 1.2;
}
article .entry h2 {
	margin: 0px 0px 20px; padding: 0px; color: rgb(34, 34, 34); line-height: 1.2;
}
article .entry h3 {
	margin: 0px 0px 20px; padding: 0px; color: rgb(34, 34, 34); line-height: 1.2;
}
article .entry h4 {
	margin: 0px 0px 20px; padding: 0px; color: rgb(34, 34, 34); line-height: 1.2;
}
article .entry h5 {
	margin: 0px 0px 20px; padding: 0px; color: rgb(34, 34, 34); line-height: 1.2;
}
article .entry h6 {
	margin: 0px 0px 20px; padding: 0px; color: rgb(34, 34, 34); line-height: 1.2;
}
article .entry p {
	margin: 0px 0px 20px;
}
article .entry ul {
	margin: 0px 0px 20px;
}
article .entry ol {
	margin: 0px 0px 20px;
}
article .entry table {
	margin: 0px 0px 20px;
}
article .entry dl {
	margin: 0px 0px 20px;
}
article .entry h1 {
	line-height: 1.1;
}
article .entry h2 {
	line-height: 1.1;
}
article .entry h3 {
	line-height: 1.1;
}
article .entry h1 {
	font-size: 28px;
}
article .entry h2 {
	color: rgb(57, 57, 57);
}
article .entry h3 {
	color: rgb(73, 73, 73);
}
article .entry h4 {
	color: rgb(73, 73, 73);
}
article .entry h5 {
	color: rgb(73, 73, 73);
}
article .entry h6 {
	color: rgb(73, 73, 73);
}
article .entry blockquote {
	background: rgba(0, 0, 0, 0.06); margin: 0px -30px 20px; padding: 15px 20px 1px 40px; color: rgb(34, 34, 34); font-style: italic;
}
article .entry img {
	background: rgb(255, 255, 255); padding: 5px; border-radius: 3px; max-width: 98%; box-shadow: 0px 0px 8px #aaa; -webkit-border-radius: 3px; -webkit-box-shadow: 0 0 8px #aaa;
}
article .entry video {
	background: rgb(255, 255, 255); padding: 5px; border-radius: 3px; max-width: 98%; box-shadow: 0px 0px 8px #aaa; -webkit-border-radius: 3px; -webkit-box-shadow: 0 0 8px #aaa;
}
article .entry img.nstyle {
	background: none; padding: 0px; border-radius: 0px; box-shadow: none; -webkit-border-radius: 0; -webkit-box-shadow: none;
}
article .entry video.nstyle {
	background: none; padding: 0px; border-radius: 0px; box-shadow: none; -webkit-border-radius: 0; -webkit-box-shadow: none;
}
article .entry iframe {
	max-width: 98%;
}
article .entry .caption {
	color: rgb(170, 170, 170); padding-left: 25px; font-size: 0.9em; margin-top: 5px; display: block; position: relative;
}
article .entry .caption::before {
	font: 1.3em/normal FontAwesome; left: 0px; top: 3px; position: absolute; content: "\f040"; font-size-adjust: none; font-stretch: normal;
}
article .entry code {
	color: rgb(51, 51, 51); font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal; font-size: 0.8em; white-space: pre-wrap; -ms-word-wrap: break-word;
}
article .entry pre {
	color: rgb(51, 51, 51); font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal; font-size: 0.8em; white-space: pre-wrap; -ms-word-wrap: break-word;
}
article .entry code {
	font-size: 13px;
}
article .entry pre {
	background: rgb(58, 60, 66); margin: 0px -30px 16px; padding: 10px 30px; color: rgb(248, 248, 242);
}
@media screen and (max-width:580px)
{
article .entry pre {
	margin: 0px -20px 16px; padding: 10px 20px;
}
}
article .entry pre code {
	color: rgb(248, 248, 242);
}
li article .entry pre {
	padding-left: 60px; margin-left: -60px;
}
article .entry table {
	width: 100%; border-collapse: collapse;
}
article .entry th {
	padding: 5px 10px; text-align: left; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
article .entry td {
	padding: 5px 10px; text-align: left; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
article .entry dt {
	color: rgb(34, 34, 34); font-weight: 700;
}
article .entry th {
	color: rgb(34, 34, 34);
}
article .entry small {
	font-size: 11px;
}
article .entry hr {
	background: rgb(170, 170, 170); margin: 0px 0px 20px; border: 0px currentColor; border-image: none; height: 1px;
}
article .entry .text-lt {
	text-decoration: line-through;
}
article footer {
	padding: 10px 0px 0px; margin-top: 10px; border-top-color: rgb(170, 170, 170); border-top-width: 1px; border-top-style: solid;
}
article footer.end-sep {
	padding: 0px 0px 10px; border-top-color: currentColor; border-bottom-color: rgb(170, 170, 170); border-top-width: medium; border-bottom-width: 1px; border-top-style: none; border-bottom-style: solid;
}
article footer a::before {
	font: 1.1em/normal FontAwesome; padding-right: 10px; vertical-align: middle; font-size-adjust: none; font-stretch: normal;
}
article footer a.more-link::before {
	content: "\f054";
}
article footer a.comment-link::before {
	content: "\f075";
}
article footer .categories {
	margin: 5px 0px; padding-left: 25px; position: relative;
}
article footer .tags {
	margin: 5px 0px; padding-left: 25px; position: relative;
}
article footer .categories::before {
	font: 1.1em/normal FontAwesome; position: absolute; font-size-adjust: none; font-stretch: normal;
}
article footer .tags::before {
	font: 1.1em/normal FontAwesome; position: absolute; font-size-adjust: none; font-stretch: normal;
}
article footer .categories::before {
	left: 1px; top: 4px; content: "\f07b";
}
article footer .tags::before {
	left: 2px; top: 5px; content: "\f02b";
}
#comment {
	padding: 0px 20px 20px; -ms-overflow-x: hidden;
}
#comment .title {
	font-weight: normal; margin-bottom: 15px;
}
#pagination {
	padding-bottom: 20px;
}
#pagination a {
	background: rgb(0, 102, 153); padding: 5px 10px; color: rgb(255, 255, 255); font-family: "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif; text-decoration: none; display: block;
}
#pagination .prev {
	float: left;
}
#pagination .prev::before {
	padding-right: 10px; font-family: FontAwesome; content: "\f053";
}
#pagination .next {
	float: right;
}
#pagination .next::after {
	padding-left: 10px; font-family: FontAwesome; content: "\f054";
}
.archive-title {
	padding: 0px 30px; font-weight: normal; margin-bottom: 10px; text-shadow: 0px 0px 1px #fff;
}
.archive-title::before {
	padding-right: 15px; font-family: FontAwesome; content: "\f073";
}
.tag.archive-title::before {
	content: "\f02b";
}
.category.archive-title::before {
	content: "\f07b";
}
.archive-year {
	margin: 0px 0px 10px; padding: 0px 30px; color: rgb(0, 102, 153); font-family: Candara, arial; font-size: 2.4em; font-style: italic; text-shadow: 0px 1px 0px rgba(255,255,255,0.9);
}
@media screen and (max-width:580px)
{
.archive-year {
	padding: 0px 20px;
}
}
.archive-year a::after {
	font: 12px/normal FontAwesome; padding-left: 10px; vertical-align: super; content: "\f08e"; font-size-adjust: none; font-stretch: normal;
}
.archive-year .sep {
	border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 0px rgba(255,255,255,0.3); -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
}
#sidebar {
	margin: 0px auto; padding: 10px 0px; color: rgb(255, 255, 255); max-width: 750px; text-shadow: 0px 2px 0px rgba(0,0,0,0.25);
}
@media screen and (max-width:600px)
{
#sidebar {
	padding: 5px 10px;
}
}
#sidebar a {
	color: rgb(255, 255, 255);
}
#sidebar .widget {
	width: 30%; margin-left: 5%; float: left; -ms-word-wrap: break-word;
}
@media screen and (max-width:600px)
{
#sidebar .widget {
	width: 100%; margin-left: 0px; float: none;
}
}
#sidebar .first.widget {
	margin-left: 0px;
}
#sidebar .newline.widget {
	clear: both;
}
#sidebar .widget ul {
	list-style: none;
}
#sidebar .widget ol {
	list-style: none;
}
#sidebar .widget dl {
	list-style: none;
}
#sidebar .widget .entry {
	padding-left: 2px;
}
#sidebar .widget .title {
	padding: 4px 2px; font-size: 22px; font-weight: normal; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 0px rgba(255,255,255,0.25); -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0;
}
#sidebar .tag small {
	color: rgb(204, 204, 204); margin-left: 15px;
}
#sidebar .tag small::before {
	content: "(";
}
#sidebar .tag small::after {
	content: ")";
}
#sidebar .tagcloud a {
	margin-right: 10px; display: inline-block;
}
#footer {
	margin: 20px auto 0px; padding: 20px 0px 0px; width: 680px; text-align: center; color: rgb(204, 204, 204); overflow: hidden;
}
#footer a {
	color: rgb(255, 255, 255); font-style: italic;
}
@media screen and (max-width:740px)
{
body {
	padding: 0px;
}
.wrapper {
	border-radius: 0px; width: 100%; box-shadow: none; -webkit-border-radius: 0; -webkit-box-shadow: none;
}
#footer {
	margin: 0px auto; padding: 10px; border-radius: 0px; width: auto; text-align: left; -webkit-border-radius: 0;
}
}
@media screen and (max-width:580px)
{
#header {
	padding: 15px 20px;
}
#header .title {
	float: none;
}
#header .nav ul li {
	margin-left: 10px;
}
#header p {
	width: 100%;
}
.archive-title {
	padding: 0px 20px;
}
article {
	padding: 15px 20px;
}
article .gallery {
	margin: 0px -20px 16px;
}
article .entry blockquote {
	margin: 0px -20px 20px;
}
}
figure.highlight {
	background: rgb(58, 60, 66); margin: 0px -30px 16px; padding: 0px 30px;
}
@media screen and (max-width:580px)
{
figure.highlight {
	margin: 0px -20px 16px; padding: 0px 20px;
}
}
figure.highlight pre {
	margin: 0px -30px;
}
@media screen and (max-width:580px)
{
figure.highlight pre {
	margin: 0px -20px;
}
}
figure.highlight table {
	margin: 0px; border-spacing: 0;
}
figure.highlight td {
	padding: 0px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
figure.highlight .gutter {
	width: 40px;
}
@media screen and (max-width:580px)
{
figure.highlight .gutter {
	display: none;
}
}
figure.highlight .gutter pre {
	padding: 10px 0px 10px 30px; width: 30px; height: 100%; border-right-color: rgb(255, 255, 255); border-right-width: 1px; border-right-style: solid; position: relative;
}
pre .comment {
	color: rgb(147, 161, 161); font-style: italic;
}
pre .template_comment {
	color: rgb(147, 161, 161); font-style: italic;
}
pre .diff .header {
	color: rgb(147, 161, 161); font-style: italic;
}
pre .doctype {
	color: rgb(147, 161, 161); font-style: italic;
}
pre .pi {
	color: rgb(147, 161, 161); font-style: italic;
}
pre .lisp .string {
	color: rgb(147, 161, 161); font-style: italic;
}
pre .javadoc {
	color: rgb(147, 161, 161); font-style: italic;
}
pre .keyword {
	color: rgb(133, 153, 0);
}
pre .winutils {
	color: rgb(133, 153, 0);
}
pre .method {
	color: rgb(133, 153, 0);
}
pre .addition {
	color: rgb(133, 153, 0);
}
pre .css .tag {
	color: rgb(133, 153, 0);
}
pre .request {
	color: rgb(133, 153, 0);
}
pre .status {
	color: rgb(133, 153, 0);
}
pre .nginx .title {
	color: rgb(133, 153, 0);
}
pre .number {
	color: rgb(42, 161, 152);
}
pre .command {
	color: rgb(42, 161, 152);
}
pre .string {
	color: rgb(42, 161, 152);
}
pre .tag .value {
	color: rgb(42, 161, 152);
}
pre .phpdoc {
	color: rgb(42, 161, 152);
}
pre .tex .formula {
	color: rgb(42, 161, 152);
}
pre .regexp {
	color: rgb(42, 161, 152);
}
pre .hexcolor {
	color: rgb(42, 161, 152);
}
pre .title {
	color: rgb(38, 139, 210);
}
pre .localvars {
	color: rgb(38, 139, 210);
}
pre .chunk {
	color: rgb(38, 139, 210);
}
pre .decorator {
	color: rgb(38, 139, 210);
}
pre .built_in {
	color: rgb(38, 139, 210);
}
pre .identifier {
	color: rgb(38, 139, 210);
}
pre .vhdl {
	color: rgb(38, 139, 210);
}
pre .literal {
	color: rgb(38, 139, 210);
}
pre .id {
	color: rgb(38, 139, 210);
}
pre .attribute {
	color: rgb(181, 137, 0);
}
pre .variable {
	color: rgb(181, 137, 0);
}
pre .lisp .body {
	color: rgb(181, 137, 0);
}
pre .smalltalk .number {
	color: rgb(181, 137, 0);
}
pre .constant {
	color: rgb(181, 137, 0);
}
pre .class .title {
	color: rgb(181, 137, 0);
}
pre .parent {
	color: rgb(181, 137, 0);
}
pre .haskell .type {
	color: rgb(181, 137, 0);
}
pre .preprocessor {
	color: rgb(203, 75, 22);
}
pre .preprocessor .keyword {
	color: rgb(203, 75, 22);
}
pre .shebang {
	color: rgb(203, 75, 22);
}
pre .symbol {
	color: rgb(203, 75, 22);
}
pre .symbol .string {
	color: rgb(203, 75, 22);
}
pre .diff .change {
	color: rgb(203, 75, 22);
}
pre .special {
	color: rgb(203, 75, 22);
}
pre .attr_selector {
	color: rgb(203, 75, 22);
}
pre .important {
	color: rgb(203, 75, 22);
}
pre .subst {
	color: rgb(203, 75, 22);
}
pre .cdata {
	color: rgb(203, 75, 22);
}
pre .clojure .title {
	color: rgb(203, 75, 22);
}
pre .deletion {
	color: rgb(220, 50, 47);
}
